<header>
    <h1>Friendly Promise</h1>
</header>
<main>
    <section aria-labelledby="introduction">
        <figure>
            <img src="friendly-hornero.jpg" loading="eager" alt="Illustration of a friendly hornero" />
            Photo from - <a
                href="https://unsplash.com/es/@kv_sagar?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Vidyasagar
                K</a> on <a
                href="https://unsplash.com/es/fotos/un-pequeno-pajaro-posado-encima-de-un-palo-1eEfaLyeLLQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

        </figure>

        <div>
            <p class="subtitle" id="introduction">
                <strong>FriendlyPromise</strong> is a lightweight library made in TypeScript that wraps native Promises
                with a more expressive, chainable, and testable API — without losing compatibility with standard
                async/await.
            </p>
        </div>
    </section>

    <section aria-labelledby="features">
        <h2 id="features">Features</h2>
        <ul class="subtitle">
            <li>✅ Full support for <code>then</code>, <code>catch</code>, and <code>finally</code></li>
            <li>✅ Learn, read, and modify all the code you want</li>
            <li>✅ Custom <code>StateLevels</code> for better debugging and flow control</li>
            <li>✅ Static helpers like <code>FriendlyPromise.allSettled()</code></li>
            <li>✅ Preserves <code>async/await</code> compatibility</li>
            <li>✅ Written in TypeScript with full type safety</li>
            <li>✅ Unit-test friendly, works great with <code>jest.useFakeTimers()</code></li>
        </ul>
    </section>

    <section aria-labelledby="github">
        <h2 id="github">GitHub</h2>
        <p class="subtitle">
            Feel free to contribute to the project in documentation, wikis or all you want. The project is entirely
            built for educational purposes, so if you want to improve it or simply add your touch, you can fork the repo
            and make your contribution.
        </p>
        <p>
            <a href="https://github.com/DelgadoElias/friendly-promise/" target="_blank" rel="noopener noreferrer">
                👉 Link to repo here
            </a>
        </p>
    </section>
</main>